:root {
    --dark-gray:#2c3e50;
    --light-gray:#3a546d;
    --my-green:#1abc9c;
}

header {
    background-color: var(--dark-gray);
}

#jumbotron {
    background-color:var(--my-green);
}

.jumbotron img {
    width: 50%;
}

header .col-4 ul li {
    background-color:var(--dark-gray);
}

#about {
    background-color:var(--my-green);
}

form .btn {
    background-color:var(--my-green);
}

.footer-top {
    background-color:var(--light-gray);
}

.footer-top .col p a {
    color:var(--my-green);
}

.footer-bottom {
    background-color:var(--dark-gray);
}